<%= simple_form_for(use) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, placeholder: "Freezing" %>
  <p><em>
    <ul class="list-inline text-secondary small">
      <li class="list-inline-item">
        <i class="fas fa-info-circle mr-1"></i>
        <span class="font-weight-bold">Existing uses :</span>
      </li>
      <% uses.each do |use| %>
        <li class="list-inline-item"><%= use.name %></li>
      <% end %>
    </ul>
  </em></p>

  <div class="mt-4">
    <h6>Daily load profile</h6>
    <p class="text-secondary small"><em>Set the default hourly use rates for appliances of this use, from 0 (off) to 1 (full power).</em></p>
    <%= render 'shared/load_chart_form', f: f, collection: Use::RATES, day: Use::DAY_TIME, night: Use::NIGHT_TIME %>
  </div>

  <div class="mt-2 d-flex justify-content-end">
    <%= link_to "Cancel", appliances_path, class: "btn btn-outline-secondary mr-2" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
