<%= simple_form_for [appliance, source] do |f| %>
  <%= f.error_notification %>
   <div class="row">
    <div class="col-12 col-sm-6">
      <%= f.input :supplier,
        placeholder: "Ramco",
        label: "Supplier name"
      %>
    </div>
    <div class="col-12 col-sm-6">
      <%= f.input :issued_at,
        as: :string,
        placeholder: "Pick a date",
        label: "Date of issue",
        input_html: {
          class: "datepicker",
          readonly: true,
          value: source.issued_at ? source.issued_at.to_date : nil
        }
      %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <%= f.input :country_code, label: "Country" %>
    </div>
    <div class="col-12 col-sm-6">
      <%= f.input :city %>
    </div>
  </div>
  <%= f.input :details,
    placeholder: "Describe offer conditions",
    input_html: { rows: "5" }
  %>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= f.input :price,
        as: :numeric,
        placeholder: "42,50",
        label: "Unit price (excl. tax)"
      %>
    </div>
    <div class="col-12 col-sm-4">
      <%= f.input :currency,
        as: :select,
        collection: Money::Currency.all
      %>
    </div>
    <div class="col-12 col-sm-4">
      <%= f.input :discount_rate, label: "Discount rate (%)" %>
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-end">
    <%= link_to "Cancel", appliance_path(source.appliance), class: "btn btn-outline-secondary mr-2" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
