<div class="list-group-item d-flex align-items-center">

  <div class="mr-4 d-none d-sm-block ">
    <%= render 'appliances/image', appliance: appliance, size: 50 %>
  </div>

  <div class="flex-grow-1 mr-2">
    <h6><%= appliance.name %></h6>
    <div>
      <%= render 'appliances/badge_current', appliance: appliance %>
      <%= render 'appliances/badge_power', appliance: appliance %>
      <%= render 'appliances/badge_energy', appliance: appliance %>
      <%= render 'appliances/badge_grade', appliance: appliance %>
      <%= render 'appliances/badge_price', appliance: appliance %>
    </div>
  </div>

  <div class="d-flex flex-column flex-sm-row">
    <%= render 'appliances/button_show', appliance: appliance %>
    <%= render 'appliances/button_duplicate', appliance: appliance %>
  </div>

</div>
