<table class="table">
  <tbody>
    <tr>
      <th scope="row" class="py-2">EU Energy grade</th>
      <td class="py-2">
        <% if appliance.energy_grade.present? %>
          <span class="badge px-2 <%= Appliance::GRADE_CLASSES[appliance.energy_grade] %>">
            <%= appliance.energy_grade %>
          </span>
        <% else %>
          n/a
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row" class="py-2">Current type</th>
      <td class="py-2"><%= appliance.current_type %></td>
    </tr>
    <tr>
      <th scope="row" class="py-2">Working frequency</th>
      <td class="py-2"><%= appliance.frequencies %></td>
    </tr>
    <tr>
      <th scope="row" class="py-2">Voltage range</th>
      <td class="py-2"><%= appliance.voltage_range %></td>
    </tr>
    <tr>
      <th scope="row" class="py-2">Active power</th>
      <td class="py-2"><%= appliance.power ? "#{appliance.power} W" : 'n/a' %></td>
    </tr>
    <tr>
      <th scope="row" class="py-2">Apparent power</th>
      <td class="py-2">
        <span class="mr-3 text-nowrap">
          <%= appliance.apparent_power ? "#{appliance.apparent_power} VA" : "n/a" %>
        </span>
        <small class="text-nowrap">
          Power factor (cos φ) : <%= appliance.power_factor ? "#{appliance.power_factor}" : "n/a" %>
        </small>
      </td>
    </tr>
    <tr>
      <th scope="row" class="py-2">Peak power</th>
      <td class="py-2">
        <span class="mr-3 text-nowrap">
          <%= appliance.max_power ? "#{appliance.max_power} VA" : "n/a" %>
        </span>
        <small class="text-nowrap">
          Starting coefficient : <%= appliance.starting_coefficient ? "#{appliance.starting_coefficient}" : "n/a" %>
        </small>
      </td>
    </tr>
  </tbody>
</table>
