<%= simple_form_for(appliance) do |f| %>
  <%= f.error_notification %>

  <div class="border-bottom border-tertiary pb-2 mb-4" >
    <h5 class="mb-3">General information</h5>
    <div class="d-sm-flex justify-content-between align-items-end">
      <div class="w-100 mr-3">
        <%= f.association :use, as: :select %>
      </div>
      <div class="flex-shrink-0 mb-3">
        <%= link_to refresh_load_path(use_id: 1), remote:true, class: "btn btn-secondary btn-sm py-2", id: "refresh_load" do %>
          <i class="fas fa-redo-alt mr-1"></i>
          Refresh load
        <% end %>
      </div>
    </div>
    <%= f.input :name, placeholder: "Freezer 400L Benoo Energies" %>
    <%= f.input :description, placeholder: "High energy efficiency freezer with 400L net capacity,  EU Energy rating 280kWh/year, wall thickness 7cm, climatic class T ...", input_html: { rows: "5" } %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="border-bottom border-tertiary pb-2 mb-4" >
    <h5 class="mb-3">Factory features</h5>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h6>Current type</h6>
        <%= f.input :current_type, as: :radio_buttons, collection: Appliance::TYPES, wrapper: :horizontal_collection_inline, label: false %>
      </div>
      <div class="col-12 col-sm-6">
        <h6>Frequency <small class="pl-2">(if AC current)</small></h6>
        <div class="d-flex">
          <div>
            <%= f.input :frequency_fifty_hz, label: "50 Hz", label_html: {class: "mr-3"} %>
          </div>
          <div>
            <%= f.input :frequency_sixty_hz, label: "60 Hz", label_html: {class: "mr-3"} %>
          </div>
        </div>
      </div>
    </div>
    <h6>Voltage range (V)</h6>
    <div class="row">
      <div class="col">
        <%= f.input :voltage_min, wrapper: :horizontal_form, label: "min", placeholder: "200" %>
      </div>
      <div class="col">
        <%= f.input :voltage_max, wrapper: :horizontal_form, label: "max", placeholder: "230" %>
      </div>
    </div>
    <div class="mt-2">
      <%= f.input :energy_grade, as: :select, collection: Appliance::GRADES, label: "EU Energy grade", label_html: {class: "text-nowrap"}, wrapper: :horizontal_form %>
    </div>
  </div>

  <div>
    <h5 class="mb-3">Working features</h5>
    <div class="row mb-2">
      <div class="col col-12 col-sm-4">
        <%= f.input :power, label: "Active power (W)", placeholder: "42" %>
      </div>
      <div class="col col-12 col-sm-4">
        <%= f.input :power_factor, label: "Power factor (cos φ)", placeholder: "0,85" %>
      </div>
      <div class="col col-12 col-sm-4">
        <%= f.input :starting_coefficient, label: "Starting coefficient", placeholder: "3" %>
      </div>
    </div>
    <h6>Daily load profile</h6>
    <p class="text-secondary small"><em>Set the default hourly use rates of the appliance, from 0 (off) to 1 (full power).</em></p>
    <div id="load_chart">
      <%= render 'shared/load_chart_form', f: f, collection: Appliance::RATES, day: Appliance::DAY_TIME, night: Appliance::NIGHT_TIME, electrical_load: appliance %>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= link_to "Cancel", :back, class: "btn btn-outline-secondary mr-2" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
