<%= simple_form_for(appliance) do |f| %>
  <%= f.error_notification %>
  <%= f.association :use, as: :select %>
  <%= f.input :name, placeholder: "Freezer 400L Benoo Energies" %>
  <%= f.input :description, placeholder: "High energy efficiency with A++ rating ...", input_html: { rows: "5" } %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="row">
    <div class="col">
      <%= f.input :current_type, as: :select, collection: Appliance::TYPES %>
    </div>
    <div class="col">
      <%= f.input :voltage, label: "Voltage (V)", placeholder: "220" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :power, label: "Power (W)", placeholder: "42" %>
    </div>
    <div class="col">
      <%= f.input :power_factor, label: "cos φ", placeholder: "0,85" %>
    </div>
    <div class="col">
      <%= f.input :starting_coefficient, label: "Start. coeff.", placeholder: "3" %>
    </div>
  </div>
  <p>Hourly use rates</p>
  <div class="row px-3">
    <div class="col p-0">
      <%= f.input :hourly_rate_0, as: :select, collection: Appliance::RATES, label: "00", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_1, as: :select, collection: Appliance::RATES, label: "01", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_2, as: :select, collection: Appliance::RATES, label: "02", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_3, as: :select, collection: Appliance::RATES, label: "03", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_4, as: :select, collection: Appliance::RATES, label: "04", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_5, as: :select, collection: Appliance::RATES, label: "05", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_6, as: :select, collection: Appliance::RATES, label: "06", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_7, as: :select, collection: Appliance::RATES, label: "07", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_8, as: :select, collection: Appliance::RATES, label: "08", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_9, as: :select, collection: Appliance::RATES, label: "09", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_10, as: :select, collection: Appliance::RATES, label: "10", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_11, as: :select, collection: Appliance::RATES, label: "11", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_12, as: :select, collection: Appliance::RATES, label: "12", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_13, as: :select, collection: Appliance::RATES, label: "13", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_14, as: :select, collection: Appliance::RATES, label: "14", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_15, as: :select, collection: Appliance::RATES, label: "15", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_16, as: :select, collection: Appliance::RATES, label: "16", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_17, as: :select, collection: Appliance::RATES, label: "17", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_18, as: :select, collection: Appliance::RATES, label: "18", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_19, as: :select, collection: Appliance::RATES, label: "19", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_20, as: :select, collection: Appliance::RATES, label: "20", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_21, as: :select, collection: Appliance::RATES, label: "21", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_22, as: :select, collection: Appliance::RATES, label: "22", input_html: { class: :barrating } %>
    </div>
    <div class="col p-0">
      <%= f.input :hourly_rate_23, as: :select, collection: Appliance::RATES, label: "23", input_html: { class: :barrating } %>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to "Cancel", :back, class: "btn btn-outline-secondary mr-2" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
