<div data-use-id="<%= use.id %>">

  <div class="d-flex pt-2 mt-4 mb-3">
    <h5><%= use.name %></h5>
    <%= render 'uses/button_edit', use: use %>
    <%= render 'uses/button_destroy', use: use %>
  </div>

  <% if use_appliances.present? %>
    <div class="pb-3 text-secondary small">
      <%= page_entries_info use_appliances %>
    </div>

    <div class="list-group">
      <% use_appliances.each do |appliance| %>
        <%= render 'appliances/card', appliance: appliance %>
      <% end %>
    </div>

    <div class="pt-4 d-flex justify-content-center small">
      <%= paginate use_appliances, window: 2, remote: true, params: {use: use} %>
    </div>

  <% else %>
    <div class="text-secondary small">
      No appliances recorded for this use.
      <%= link_to "Add a new one", new_appliance_path if policy(Appliance).new? %>.
    </div>
  <% end %>

</div>
