<div data-use-id="<%= use.id %>">

  <div class="mt-4 mb-3 d-flex">
    <h5><%= use.name %></h5>
    <%= link_to edit_use_path(use), class: "ml-3" do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <% if use.appliances.blank? %>
      <%= link_to use_path(use), method: :delete, remote: true, data: {confirm: 'Are you certain you want to delete this use?'}, class: "text-danger ml-3" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>

  <% if use.appliances.present? %>
    <div class="list-group">
      <% use.appliances.ordered.each do |appliance| %>
        <%= render 'list_item', appliance: appliance %>
      <% end %>
    </div>
  <% else %>
    <div class="text-secondary small">
      No appliance recorded for this use yet.
    </div>
  <% end %>

</div>
