<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col col-xl-10">

      <div class="mb-3">
        <%= link_to root_path do %>
          <i class="fas fa-arrow-left mr-1"></i>
          Back to home
        <% end %>
      </div>

      <div class="d-lg-flex justify-content-between">
        <h2>Catalog of appliances</h2>
        <div>
          <%= link_to new_appliance_path, class: "btn btn-primary mr-2" do %>
            <i class="fas fa-plus mr-1"></i>
            New appliance
          <% end %>
          <%= link_to new_use_path, class: "btn btn-outline-secondary" do %>
            <i class="fas fa-plus mr-1"></i>
            New use
          <% end %>
        </div>
      </div>

      <% @uses.each do |use| %>
        <% if use.appliances.present? %>
          <div class="mt-4 mb-3 d-flex">
            <h5><%= use.name %> </h5>
            <%= link_to edit_use_path(use) do %>
              <i class="fas fa-edit ml-2"></i>
            <% end %>
          </div>
          <div class="list-group">
            <% use.appliances_ordered.each do |appliance| %>
              <%= render 'list_item', appliance: appliance %>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
