<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col col-xl-10">

      <div class="mb-3">
        <%= link_to root_path do %>
          <i class="fas fa-arrow-left mr-1"></i>
          Back to home
        <% end %>
      </div>

      <div class="d-md-flex justify-content-between">
        <div class="mr-md-4">
          <h2 class="mb-4">Catalog of appliances</h2>
          <div class="mt-3 mb-2 d-md-flex align-items-center">
            <%= form_tag appliances_path, method: :get, remote: true, class: "d-flex" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control w-100",
                placeholder: "Search an appliance"
              %>
              <%= button_tag class: "btn btn-circle btn-primary ml-3" do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
            <%= link_to "Clear", appliances_path, remote: true, class: "ml-2 ml-md-3 small" %>
          </div>
        </div>
        <div>
          <%= link_to new_appliance_path, class: "btn btn-primary my-1" do %>
            <i class="fas fa-plus mr-1"></i>
            New appliance
          <% end %>
        </div>
      </div>

      <div id="results">
        <%= render 'results', uses: @uses, query: @query %>
      </div>

      <div class="mt-4 text-center">
        <%= link_to new_use_path, class: "btn btn-outline-secondary" do %>
          <i class="fas fa-plus mr-1"></i>
          New use
        <% end %>
      </div>

    </div>
  </div>
</div>
