<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col col-xl-10">

      <div class="mb-3">
        <%= link_to root_path do %>
          <i class="fas fa-arrow-left mr-1"></i>
          Back to home
        <% end %>
      </div>

      <div class="d-sm-flex justify-content-between">
        <h2>Catalog of appliances</h2>
        <div>
          <%= link_to new_appliance_path, class: "btn btn-primary my-1" do %>
            <i class="fas fa-plus mr-1"></i>
            New appliance
          <% end %>
        </div>
      </div>

      <div class="d-flex mt-3 align-items-center">
        <div class="mr-2">Search</div>
        <%= form_tag appliances_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control w-100",
            placeholder: "Find an appliance"
          %>
        <% end %>
      </div>

      <% @uses.each do |use| %>
        <%= render 'use_section', use: use, query: @query %>
      <% end %>

      <div class="mt-4 text-center">
        <%= link_to new_use_path, class: "btn btn-outline-secondary" do %>
          <i class="fas fa-plus mr-1"></i>
          New use
        <% end %>
      </div>

    </div>
  </div>
</div>
