<div class="container">
  <div class="row justify-content-lg-center my-5">
    <div class="col col-lg-10">

      <h1><%= @appliance.name %></h1>
      <p><%= @appliance.description %></p>
      <%= cl_image_tag @appliance.photo, height: 400, width: 400, crop: :fill %> %>

      <div>
        <%= link_to "Edit appliance", edit_appliance_path(@appliance), class: "btn btn-primary" %>
        <%= link_to "Back to catalogue", appliances_path, class: "btn btn-link" %>
      </div>

    </div>
  </div>
</div>
