<div class="navbar navbar-expand-sm navbar-light bg-white justify-content-between">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "rubize-foresight.png", alt: "Rubize foresight", height: "40px" %>
  <% end %>

  <% if user_signed_in? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item align-items-center d-none d-sm-flex">
          <span class="mr-3"><%= current_user.name %></span>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "user.png", class: "avatar dropdown-toggle d-none d-sm-block", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" id="navbarSupportedContent" aria-labelledby="navbarDropdown">
            <%= link_to "Home", root_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Edit my account", edit_user_registration_path, class: "dropdown-item" %>
            <% if current_user.admin %>
              <%= link_to "Admin", admin_users_path, class: "dropdown-item text-warning" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>

  <% else %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
