<div class="list-group-item d-flex justify-content-between align-items-center" data-power-system-id="<%= power_system.id %>">

  <div>
    <h6>
      <i class="fas fa-bolt fa-fw mr-1"></i>
      <span class="mr-2"><%= power_system.name %></span>
      <span class="text-secondary mr-2">
        <%= "#{power_system.system_voltage} V" if power_system.system_voltage %>
        <%= " - #{power_system.output}" if power_system.output %>
      </span>
    </h6>
    <%= render 'power_systems/info', power_system: power_system %>
    <div class="mb-2">
      <%= render 'power_systems/badge_in', power_system: power_system %>
      <%= render 'power_systems/badge_out', power_system: power_system %>
      <%= render 'power_systems/badge_price', power_system: power_system %>
    </div>
  </div>

  <div class="flex-shrink-0">
    <%= render 'power_systems/button_edit', power_system: power_system %>
    <%= render 'power_systems/button_destroy', power_system: power_system %>
  </div>

</div>
