<%= simple_form_for(power_system) do |f| %>
  <%= f.error_notification %>

  <div class="border-bottom border-tertiary pb-2 mb-4">
    <%= f.input :name, placeholder: "Kit Benoo v1" %>
  </div>

  <div class="border-bottom border-tertiary pb-2 mb-4">
    <h5 class="mb-3">Input features</h5>
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :system_voltage, as: :select, collection: PowerSystem::VOLTAGES, label: "System voltage (V)" %>
      </div>
      <div class="col-sm-8">
        <%= f.input :mppt, placeholder: "Victron 150/70", label: "MPPT model" %>
      </div>
    </div>
    <h6>Solar array input power (Wp)</h6>
    <div class="row">
      <div class="col">
        <%= f.input :power_in_min, wrapper: :horizontal_form, label: "min", placeholder: "500" %>
      </div>
      <div class="col">
        <%= f.input :power_in_max, wrapper: :horizontal_form, label: "max", placeholder: "1000" %>
      </div>
    </div>
  </div>

  <div class="border-bottom border-tertiary pb-2 mb-4">
    <h5 class="mb-3 mt-2">Output features</h5>
    <div class="row">
      <div class="col-sm-6">
        <h6>Output type(s)</h6>
        <div class="d-flex align-items-center">
          <%= f.input :dc_out, label: "DC", label_html: {class: "mr-3"} %>
          <%= f.input :ac_out, label: "AC", label_html: {class: "mr-3"} %>
        </div>
      </div>
      <div class="col-sm-6">
        <%= f.input :power_out_max, label: "Max power (VA)", placeholder: "1500" %>
      </div>
    </div>
    <div id="inverter-form-group" class="mb-4 <%= 'd-none' unless power_system.ac_out? %>">
      <%= f.input :inverter, placeholder: "Victron Phoenix 24/3000", label: "Inverter model" %>
    </div>
    <h6>Voltage range (V)</h6>
    <div class="row">
      <div class="col">
        <%= f.input :voltage_out_min, wrapper: :horizontal_form, label: "min", placeholder: "200" %>
      </div>
      <div class="col">
        <%= f.input :voltage_out_max, wrapper: :horizontal_form, label: "max", placeholder: "230" %>
      </div>
    </div>

  </div>

  <h5 class="mb-3 mt-2">Price range (excl. tax)</h5>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= f.input :price_min, as: :numeric, placeholder: "100", label: "Min" %>
    </div>
    <div class="col-12 col-sm-4">
      <%= f.input :price_max, as: :numeric, placeholder: "150", label: "Max" %>
    </div>
    <div class="col-12 col-sm-4">
      <%= f.input :currency, as: :select, collection: Money::Currency.all %>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= link_to "Cancel", power_components_path, class: "btn btn-outline-secondary mr-2" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
