<%= simple_form_for [project, project_appliance] do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :appliance_id, value: appliance.id %>

  <div>
    <h6>Number of appliances</h6>
    <div class="row align-items-center mt-3 mb-4">
      <div class="col-md-9">
        <%= render "project_appliances/card_in_form", appliance: appliance  %>
      </div>
      <div class="col-md-1 text-center font-weight-bold my-1">
        x
      </div>
      <div class="col-md-2">
        <%= f.input :quantity, label: false, wrapper_html: { class: 'mb-0' } %>
      </div>
    </div>
  </div>

  <div>
    <h6>Daily load profile</h6>
    <p class="text-secondary small"><em>Set the hourly use rates of the appliance for this project, from 0 (off) to 1 (full power).</em></p>
    <div id="load_chart">
      <%= render 'shared/load_chart_form', f: f, collection: Appliance::RATES, day: project_appliance.project.day_time_hour, night: project_appliance.project.night_time_hour, electrical_load: project_appliance %>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= link_to "Cancel", :back, class: "btn btn-outline-secondary mr-2" %>
    <%= f.submit action, class: "btn btn-primary" %>
  </div>
<% end %>
