<%= simple_form_for [project, project_appliance] do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :appliance_id, value: appliance.id %>

  <div>
    <h6>Number of appliances</h6>
    <div class="row align-items-center mt-3 mb-4">
      <div class="col-md-9 pr-md-0">
        <%= render "project_appliances/card_in_form", project_appliance: project_appliance, appliance: appliance  %>
      </div>
      <div class="col-md-1 text-center font-weight-bold my-1">
        x
      </div>
      <div class="col-md-2 pl-md-0">
        <%= f.input :quantity,
          label: false,
          wrapper_html: { class: 'mb-0' }
        %>
      </div>
    </div>
  </div>

  <div>
    <h6>Daily load profile</h6>
    <div class="d-sm-flex justify-content-between mb-2">
      <div class="mr-sm-4">
        <p class="text-secondary small"><em>Set the hourly use rates of the appliance for this project, from 0 (off) to 1 (full power).</em></p>
      </div>
      <div>
        <%= link_to project_appliance_refresh_load_path(appliance_id: appliance.id), remote:true, class: "btn btn-secondary btn-sm w-100 text-nowrap" do %>
            <i class="fas fa-redo-alt mr-1"></i>
            Reset default load
          <% end %>
      </div>
    </div>
    <div id="load_chart">
      <%= render 'shared/load_chart_form', f: f, collection: Appliance::RATES, day: project_appliance.project.day_time_hour, night: project_appliance.project.night_time_hour, electrical_load: project_appliance %>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= link_to "Cancel", :back, class: "btn btn-outline-secondary mr-2" %>
    <%= f.submit action, class: "btn btn-primary" %>
  </div>
<% end %>
