<%= render 'shared/back_link', path: root_path, text: "Back to home" %>

<h2 class="mb-4">My power components</h2>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-power-systems-tab" data-toggle="tab" href="#nav-power-systems" role="tab" aria-controls="nav-power-systems" aria-selected="false">
      <i class="fas fa-bolt fa-fw mr-1"></i>
      Power systems
    </a>
    <a class="nav-item nav-link" id="nav-solar-panels-tab" data-toggle="tab" href="#nav-solar-panels" role="tab" aria-controls="nav-solar-panels" aria-selected="true">
      <i class="fas fa-solar-panel fa-fw mr-1"></i>
      Solar panels
    </a>
    <a class="nav-item nav-link" id="nav-batteries-tab" data-toggle="tab" href="#nav-batteries" role="tab" aria-controls="nav-batteries" aria-selected="false">
      <i class="fas fa-car-battery fa-fw mr-1"></i>
      Batteries
    </a>
    <a class="nav-item nav-link" id="nav-communication-modules-tab" data-toggle="tab" href="#nav-communication-modules" role="tab" aria-controls="nav-communication-modules" aria-selected="false">
      <i class="fas fa-wifi fa-fw mr-1"></i>
      Remote monitoring
    </a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="my-5 tab-pane fade show active" id="nav-power-systems" role="tabpanel" aria-labelledby="nav-power-systems-tab">
    <%= render 'power_systems/index', power_systems: @power_systems %>
  </div>
  <div class="my-5 tab-pane fade" id="nav-solar-panels" role="tabpanel" aria-labelledby="nav-solar-panels-tab">
    <%= render 'solar_panels/index', solar_panels: @solar_panels %>
  </div>
  <div class="my-5 tab-pane fade" id="nav-batteries" role="tabpanel" aria-labelledby="nav-batteries-tab">
    <%= render 'batteries/index', batteries: @batteries %>
  </div>
  <div class="my-5 tab-pane fade" id="nav-communication-modules" role="tabpanel" aria-labelledby="nav-communication-modules-tab">
    <%= render 'communication_modules/index', communication_modules: @communication_modules %>
  </div>
</div>
