<table class="table mt-3">
  <tbody>
    <tr>
      <th scope="row" class="py-2 text-nowrap">Current type</th>
      <td class="py-2 text-nowrap"><%= project.currents %></td>
    </tr>
    <tr>
      <th scope="row" class="py-2 text-nowrap">Working frequency</th>
      <td class="py-2 text-nowrap"><%= (project.current_ac? and project.frequency.present?) ? project.frequency : "n/a" %></td>
    </tr>
    <tr>
      <th scope="row" class="py-2 text-nowrap">Voltage range</th>
      <td class="py-2 text-nowrap"><%= project.voltage_range %></td>
    </tr>
    <tr>
      <th scope="row" class="py-2 text-nowrap">Apparent power</th>
      <td class="py-2 text-nowrap"><%= project.apparent_power ? "#{number_with_delimiter(project.apparent_power.round, delimiter: " ")} VA" : "n/a" %></td>
    </tr>
    <tr>
      <th scope="row" class="py-2 text-nowrap">Peak power</th>
      <td class="py-2 text-nowrap"><%= project.peak_power ? "#{number_with_delimiter(project.peak_power.round, delimiter: " ")} VA" : "n/a" %></td>
    </tr>
  </tbody>
</table>

<% unless project.all_consumptions? %>
  <div class="text-warning mt-2 mb-3 small">
    <i class="fas fa-exclamation-triangle mr-1"></i>
    Technical features are missing in appliance setup.
  </div>
<% end %>
