<% if projects.present? %>

  <div class="pb-3 text-secondary small">
    <%= page_entries_info projects %>
  </div>

  <div class="list-group">
    <% projects.each do |project| %>
      <%= render 'projects/card', project: project %>
    <% end %>
  </div>

  <div class="py-5 d-flex justify-content-center">
    <div class="d-none d-sm-block small">
      <%= paginate projects, window: 2, remote: true %>
    </div>
    <div class="d-sm-none">
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <%= link_to_prev_page projects, "&laquo;".html_safe, class: "page-link", remote: true %>
          </li>
          <li class="page-item">
            <%= link_to_next_page projects, "&raquo;".html_safe, class: "page-link", remote: true %>
          </li>
        </ul>
      </nav>
    </div>
  </div>

<% elsif query.present? %>
  <div class="text-secondary small my-3"><em>
      Sorry, no projects found.
  </em></div>

<% else %>
  <div class="text-secondary small my-3">
    No project recorded.
    <%= link_to "Add a new one", new_project_path if policy(Project).new? %>.
  </div>

<% end %>
