<%= render 'shared/back_link', path: root_path, text: "Back to home" %>

<h2 class="mb-4">Saved projects</h2>
<ul class="list-group">
  <% @projects.each do |project| %>
    <li class="list-group-item d-flex justify-content-between">
      <div>
        <%= project.name %>
      </div>
      <div>
        <span><%= link_to "Show", project_path(project) %></span>
        <span><%= "Copy" %></span>
      </div>
    </li>
  <% end %>
</ul>

<div class="">
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
