<div class="border-bottom border-tertiary pb-4">
  <%= render 'projects/info', project: @project %>
</div>

<div class="border-bottom border-tertiary pt-4 pb-5">
  <h4 class="mb-4">
    <i class="fas fa-chart-bar fa-fw mr-2"></i>
    Electrical load
  </h4>
  <div class="d-lg-flex justify-content-between">
    <div class="mr-lg-5">
      <%= render 'projects/features', project: @project %>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <%= render 'shared/load_chart', electrical_load: @project, title: "Daily load profile", day: @project.day_time ? @project.day_time_hour : Appliance::DAY_TIME, night: @project.night_time ? @project.night_time_hour : Appliance::NIGHT_TIME %>
    </div>
  </div>
</div>

<div class="border-bottom border-tertiary pt-4 pb-5">
  <h4 class="mb-3">
    <i class="fas fa-dollar-sign fa-fw mr-2"></i>
    Cost of energy (LCOE)
  </h4>
  <p class="text-secondary small">
    Estimated Levelized Cost Of Energy (LCOE) to supply project demand, based on available data and assumptions.
  </p>
  <div class="row">
    <div class="col-lg-4" id="solar_system_lcoe__widget">
      <%= render 'solar_systems/widget_lcoe', solar_system: @project.solar_systems.first %>
    </div>
    <div class="col-lg-4" id="genset_lcoe__widget">
      <%= render 'projects/widget_genset_lcoe', project: @project %>
    </div>
    <div class="col-lg-4" id="grid_lcoe__widget">
      <%= render 'projects/widget_grid_lcoe', project: @project %>
    </div>
  </div>
</div>

<% if @project.solar_systems.present? and @project.solar_systems.first.power_system.present? %>
  <div class="border-bottom border-tertiary pt-4 pb-5">
    <div class="mb-4">
      <h4>
        <i class="fas fa-solar-panel fa-fw mr-2"></i>
        Solar system
      </h4>
    </div>
    <div class="d-lg-flex justify-content-between">
      <div class="mr-lg-5">
        <%= render 'solar_systems/features', solar_system: @project.solar_systems.first %>
      </div>
      <div class="w-100">
        <%= render 'solar_systems/power_components', solar_system: @project.solar_systems.first %>
      </div>
    </div>
  </div>
<% end %>

<div class="border-bottom border-tertiary pt-4 pb-4">
  <h4 class="mb-3">
    <i class="fas fa-receipt fa-fw mr-2"></i>
    CAPEX
  </h4>
  <p class="text-secondary small">
    Prices excluding taxes.
  </p>
  <div class="row">
    <div class="col-lg-6" id="project_budget_container">
      <%= render 'projects/budget', project: @project %>
    </div>
    <div class="col-lg-6" id="solar_system_budget_container">
      <% if @project.solar_systems.first.present? and @project.solar_systems.first.power_system.present? %>
        <%= render 'solar_systems/budget', solar_system: @project.solar_systems.first %>
      <% end %>
    </div>
  </div>
</div>

<div class="py-4">
  <%= render 'project_appliances/title', project: @project %>
  <%= render 'projects/project_appliances', project_appliances: @project_appliances, uses: @uses, project: @project, card: 'card_public' %>
</div>
