<h3><%= @project.name %></h3>
<p><%= @project.description %></p>
<p><%= @project.address %></p>
<ul>
  <li>Latitude : <%= @project.latitude %></li>
  <li>Longitude : <%= @project.longitude %></li>
</ul>
<p><%= link_to "Back to project list", projects_path %></p>
