<%= render 'shared/back_link', path: projects_path, text: "Back to project list" %>

<div class="d-lg-flex justify-content-between border-bottom border-tertiary pb-4">
  <div class="mr-lg-5">
    <%= render 'projects/info', project: @project %>
  </div>
  <div class="flex-shrink-0">
    <div>
      <%= render 'projects/button_edit', project: @project %>
      <%= render 'projects/button_destroy', project: @project %>
    </div>
  </div>
</div>

<div class="border-bottom border-tertiary pt-4 pb-5">
  <% if @project.solar_systems.present? %>
    <%= render 'solar_systems/show', project: @project, solar_system: @project.solar_systems.first %>
  <% else %>
    <div class="text-center">
      <div class="text-secondary small mb-3">
        This project doesn't have any solar system.
      </div>
      <%= render 'solar_systems/button_new', project: @project %>
    </div>
  <% end %>
</div>

<div class="border-bottom border-tertiary pt-4 pb-5">
  <h4 class="mb-4">Electrical load</h4>
  <div class="d-lg-flex justify-content-between">
    <div class="mr-lg-5" id="project_features_container">
      <%= render 'projects/features', project: @project %>
    </div>
    <div class="w-100" id="load_chart_container">
      <%= render 'shared/load_chart', electrical_load: @project, title: "Daily load profile", day: @project.day_time ? @project.day_time_hour : Appliance::DAY_TIME, night: @project.night_time ? @project.night_time_hour : Appliance::NIGHT_TIME %>
    </div>
  </div>
</div>

<div class="py-4">
  <%= render 'projects/appliances', project_appliances: @project_appliances, uses: @uses, project: @project %>
</div>
