<%= render 'shared/back_link', path: projects_path, text: "Back to project list" %>

<div class="d-lg-flex justify-content-between mb-4">
  <div class="mr-lg-5">
    <%= render 'info', project: @project %>
  </div>
  <div class="flex-shrink-0">
    <div>
      <%= render 'button_edit', project: @project %>
      <%= render 'button_destroy', project: @project %>
    </div>
  </div>
</div>

<div class="d-flex mt-4 pt-3">
  <%= render 'button_catalog', project: @project %>
</div>
