<div class="list-group-item d-flex align-items-center pl-0 overflow-hidden">

  <div class="card-quantity position-absolute h-100 bg-secondary text-white d-flex align-items-center justify-content-center">
    <%= solar_system.battery_quantity %>
  </div>

  <div class="flex-grow-1 ml-5">
    <h6>
      <i class="fas fa-car-battery fa-fw mr-1"></i>
      <span class="mr-2"><%= battery.technology %></span>
      <span class="text-secondary mr-2">
        <%= "#{battery.voltage} V | #{battery.capacity} Ah" %>
        <%= " - #{battery.storage_max} Wh" if battery.storage_max %>
      </span>
    </h6>
    <div class="mb-2">
      <%= render 'batteries/badge_dod', battery: battery %>
      <%= render 'batteries/badge_efficiency', battery: battery %>
      <%= render 'batteries/badge_price', battery: battery %>
    </div>
  </div>

</div>
