<%= simple_form_for(solar_panel) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-sm-8">
      <%= f.input :technology,
        collection: SolarPanel::TECHNOLOGIES
      %>
    </div>
    <div class="col-sm-4">
      <%= f.input :power,
        label: 'Rated power (Wp)',
        placeholder: "270"
      %>
    </div>
  </div>

  <h5 class="mt-3">Price range (excl. tax)</h5>
  <p class="text-secondary small"><em>Include wiring and mounting equipment costs (per panel).</em></p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= f.input :price_min,
        as: :numeric,
        placeholder: "150",
        label: "Min"
      %>
    </div>
    <div class="col-12 col-sm-4">
      <%= f.input :price_max,
        as: :numeric,
        placeholder: "200",
        label: "Max"
      %>
    </div>
    <div class="col-12 col-sm-4">
      <%= f.input :currency,
        as: :select,
        collection: Money::Currency.all
      %>
    </div>
    <div class="col-12 col-sm-6">
      <%= f.input :lifetime,
        as: :numeric,
        placeholder: "15",
        label: "Lifetime (years)"
      %>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= link_to "Cancel", power_components_path, class: "btn btn-outline-secondary mr-2" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
